<main>
  <h1 class="TodoPage-title">My To-do List</h1>
  <%= form_with( url: "/todos", class: "TodoAdd", method: "POST") do %>
    <input class="TodoText" placeholder="What's next?" type="text" name="todo_text"/>
    <input class="TodoDate" type="date" name="due_date"/>
    <input class="TodoAdd-button" type="submit" value="Add" />
  <% end %>
  <%= render partial: "todo-section", locals: {
    section_title: "Overdue",
    todos: Todo.overdue.not_completed
  } %>
  <%= render partial: "todo-section", locals: {
    section_title: "Due Today",
    todos: Todo.due_today,
  } %>
  <%= render partial: "todo-section", locals: {
    section_title: "Due Later",
    todos: Todo.due_later
  } %>
</main>
